Repository pysal/spaghetti, pull requests merged in 2020-10, with the labels that each got.

#529 updating landing page images
  docs/_static/images/crime_counts.png
  docs/_static/images/network_k.png
  docsrc/_static/images/crime_counts.png
  docsrc/_static/images/network_k.png
Labels: docs

#534 Add more documentation for Network._extractnetwork()
  docs/_images/notebooks_caveats_14_0.png
  docs/_images/notebooks_caveats_31_0.png
  docs/_images/notebooks_caveats_33_0.png
  docs/_images/notebooks_caveats_36_0.png
  docs/_images/notebooks_caveats_42_1.png
  docs/_images/notebooks_caveats_44_0.png
  docs/_images/notebooks_caveats_47_0.png
  docs/_images/notebooks_caveats_50_0.png
  docs/_images/notebooks_caveats_52_0.png
  docs/_images/notebooks_caveats_55_0.png
  docs/_images/notebooks_caveats_72_0.png
  docs/_images/notebooks_caveats_77_0.png
  docs/_images/notebooks_caveats_79_0.png
  docs/_images/notebooks_caveats_81_0.png
  docs/_images/notebooks_caveats_81_1.png
  docs/_images/notebooks_caveats_81_2.png
  docs/_images/notebooks_caveats_81_3.png
  docs/_images/notebooks_caveats_81_4.png
  docs/_images/notebooks_network-spatial-weights_11_0.png
  docs/_images/notebooks_network-spatial-weights_16_0.png
  docs/_images/notebooks_network-spatial-weights_20_0.png
  docs/_images/notebooks_network-spatial-weights_22_0.png
  docs/_images/notebooks_transportation-problem_27_0.png
  docs/_images/notebooks_transportation-problem_31_0.png
  docs/_images/notebooks_transportation-problem_48_0.png
  docs/_images/notebooks_tsp_33_0.png
  docs/_modules/spaghetti/network.html
  docs/_sources/notebooks/caveats.ipynb.txt
  docs/_sources/notebooks/network-spatial-weights.ipynb.txt
  docs/_sources/notebooks/transportation-problem.ipynb.txt
  docs/_sources/notebooks/tsp.ipynb.txt
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/notebooks/caveats.html
  docs/notebooks/network-spatial-weights.html
  docs/notebooks/transportation-problem.html
  docs/notebooks/tsp.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/conf.py
  docsrc/notebooks/caveats.ipynb
  docsrc/notebooks/network-spatial-weights.ipynb
  docsrc/notebooks/transportation-problem.ipynb
  docsrc/notebooks/tsp.ipynb
  notebooks/caveats.ipynb
  notebooks/network-spatial-weights.ipynb
  notebooks/transportation-problem.ipynb
  notebooks/tsp.ipynb
  setup.py
  spaghetti/analysis.py
  spaghetti/network.py
  spaghetti/util.py
Labels: network instantiation, notebooks, rough edge

#535 [WIP] Vertex/Arc ID sorting bug in Network.split_arcs()
  .github/workflows/unittests.yml
  docs/_images/notebooks_network-segmentation_17_0.png
  docs/_images/notebooks_network-segmentation_31_0.png
  docs/_images/notebooks_network-segmentation_33_0.png
  docs/_images/notebooks_network-segmentation_40_0.png
  docs/_images/notebooks_network-segmentation_42_0.png
  docs/_images/notebooks_network-segmentation_44_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_28_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_30_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_32_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_34_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_36_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_38_0.png
  docs/_images/notebooks_network-spatial-autocorrelation_42_0.png
  docs/_modules/spaghetti/network.html
  docs/_sources/notebooks/caveats.ipynb.txt
  docs/_sources/notebooks/network-segmentation.ipynb.txt
  docs/_sources/notebooks/network-spatial-autocorrelation.ipynb.txt
  docs/api.html
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/generated/spaghetti.regular_lattice.html
  docs/generated/spaghetti.spanning_tree.html
  docs/notebooks/caveats.html
  docs/notebooks/network-segmentation.html
  docs/notebooks/network-spatial-autocorrelation.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/notebooks/caveats.ipynb
  docsrc/notebooks/network-segmentation.ipynb
  docsrc/notebooks/network-spatial-autocorrelation.ipynb
  notebooks/caveats.ipynb
  notebooks/network-segmentation.ipynb
  notebooks/network-spatial-autocorrelation.ipynb
  spaghetti/network.py
  spaghetti/tests/network_unittest_classes.py
Labels: WIP, bug, network instantiation

#540 Libpysal req
  README.md
  docs/.buildinfo
  docs/_modules/index.html
  docs/_modules/spaghetti/network.html
  docs/_sources/installation.rst.txt
  docs/_static/documentation_options.js
  docs/api.html
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.Network.loadnetwork.html
  docs/generated/spaghetti.Network.savenetwork.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/generated/spaghetti.extract_component.html
  docs/generated/spaghetti.regular_lattice.html
  docs/generated/spaghetti.spanning_tree.html
  docs/genindex.html
  docs/index.html
  docs/installation.html
  docs/notebooks/caveats.html
  docs/notebooks/connected-components.html
  docs/notebooks/facility-location.html
  docs/notebooks/network-segmentation.html
  docs/notebooks/network-spatial-autocorrelation.html
  docs/notebooks/network-spatial-dependence.html
  docs/notebooks/network-spatial-weights.html
  docs/notebooks/pointpattern-attributes.html
  docs/notebooks/quickstart.html
  docs/notebooks/shortest-path-visualization.html
  docs/notebooks/spanning-trees.html
  docs/notebooks/transportation-problem.html
  docs/notebooks/tsp.html
  docs/objects.inv
  docs/references.html
  docs/search.html
  docs/tutorials.html
  docsrc/installation.rst
  requirements.txt
  spaghetti/__init__.py
  spaghetti/network.py
Labels: docs, requirements, version

#541 preparing JOSS paper for submission
  paper/figs/pysal_logo.png
  paper/figs/spaghetti_network.png
  paper/main.tex
  paper/paper.bib
  paper/paper.md
Labels: JOSS

#542 minor edits and updated figure references
  paper/main.tex
  paper/paper.md
Labels: JOSS

#543 changed binder's link to reflect the new name of master branches from…
  README.md
  environment.yml
Labels: JOSS, binders
