Repository pysal/spaghetti, pull requests merged in 2020-04, with the labels that each got.

#461 Updating pinned requirements versions
  ci/36-GIT-PLUS.yaml
  ci/36-GIT.yaml
  ci/36-PYPI-PLUS.yaml
  ci/36-PYPI.yaml
  ci/37-GIT-PLUS.yaml
  ci/37-GIT.yaml
  ci/37-PYPI-PLUS.yaml
  ci/37-PYPI.yaml
  ci/38-GIT-PLUS.yaml
  ci/38-GIT.yaml
  ci/38-PYPI-PLUS.yaml
  ci/38-PYPI.yaml
  environment.yml
  requirements.txt
  requirements_plus.txt
Labels: requirements

#462 stylize the minimum spanning tree plot in README.md
  README.md
  figs/mst_logo_pasta.png
Labels: branding, docs

#463 Remedy for non-transparent favicon
  docs/_static/images/pysal_favicon.ico
  docs/_static/pysal_favicon.ico
  docs/searchindex.js
  docsrc/_static/images/pysal_favicon.ico
Labels: branding, docs

#464 Updating docs with new sphinx release
  docs/.buildinfo
  docs/_modules/index.html
  docs/_modules/spaghetti/network.html
  docs/_static/documentation_options.js
  docs/_static/searchtools.js
  docs/api.html
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.Network.loadnetwork.html
  docs/generated/spaghetti.Network.savenetwork.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/generated/spaghetti.extract_component.html
  docs/generated/spaghetti.regular_lattice.html
  docs/generated/spaghetti.spanning_tree.html
  docs/genindex.html
  docs/index.html
  docs/installation.html
  docs/notebooks/caveats.html
  docs/notebooks/connected-components.html
  docs/notebooks/facility-location.html
  docs/notebooks/network-analysis.html
  docs/notebooks/network-spatial-weights.html
  docs/notebooks/quickstart.html
  docs/notebooks/shortest-path-visualization.html
  docs/notebooks/spanning-trees.html
  docs/notebooks/transportation-problem.html
  docs/notebooks/tsp.html
  docs/objects.inv
  docs/references.html
  docs/search.html
  docs/searchindex.js
  docs/tutorials.html
  docsrc/conf.py
  spaghetti/network.py
Labels: docs

#465 DOC: correct comments for K-function related code
  spaghetti/analysis.py
Labels: docs, network stats, priority-high

#468 Removing G and F functions
  docs/_images/notebooks_network-analysis_43_0.png
  docs/_images/notebooks_network-analysis_46_0.png
  docs/_images/notebooks_network-analysis_49_0.png
  docs/_modules/spaghetti/network.html
  docs/_sources/generated/spaghetti.Network.rst.txt
  docs/_sources/notebooks/network-analysis.ipynb.txt
  docs/_static/references.bib
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/genindex.html
  docs/notebooks/network-analysis.html
  docs/objects.inv
  docs/references.html
  docs/searchindex.js
  docsrc/_static/references.bib
  docsrc/notebooks/network-analysis.ipynb
  notebooks/network-analysis.ipynb
  spaghetti/analysis.py
  spaghetti/network.py
  spaghetti/tests/network_unittest_classes.py
Labels: network stats, priority-high, ready for review

#473 update install docs
  README.md
  docs/_sources/installation.rst.txt
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/installation.html
  docs/searchindex.js
  docsrc/installation.rst
Labels: docs, environment/installation

#474 attempting custom codecov reports
  codecov.yml
Labels: codecov

#475 no post until 24 codecov reports
  codecov.yml
Labels: codecov

#471 [Bug] Addressing bug in K-Function formation
  spaghetti/analysis.py
  spaghetti/tests/network_unittest_classes.py
Labels: bug, network stats, priority-high, ready for review

#482 add funding sources to README
  README.md
  figs/ardc_logo.png
  figs/nsf_logo.png
Labels: docs

#479 [WIP] Dropping "change" param in codecov.yml
  codecov.yml
Labels: WIP, codecov

#483 Docs funding
  README.md
  docs/_images/ardc_logo.png
  docs/_images/nsf_logo.png
  docs/_sources/index.rst.txt
  docs/_static/images/ardc_logo.png
  docs/_static/images/mst_logo_pasta.png
  docs/_static/images/nsf_logo.png
  docs/_static/images/pysal_logo.png
  docs/_static/images/pysal_nav_logo_2line.svg
  docs/generated/spaghetti.Network.html
  docs/generated/spaghetti.PointPattern.html
  docs/generated/spaghetti.element_as_gdf.html
  docs/index.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/_static/images/ardc_logo.png
  docsrc/_static/images/mst_logo_pasta.png
  docsrc/_static/images/nsf_logo.png
  docsrc/_static/images/pysal_logo.png
  docsrc/_static/images/pysal_nav_logo_2line.svg
  docsrc/index.rst
  figs/mst_logo.png
  figs/shortest_path_plot.png
  figs/snap_plot.png
  figs/spaghetti_nav_logo.svg
Labels: docs
